.popup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;
}

.popup-form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 450px;
    padding: 20px;
    background-color: #565656;
    border-radius: 1rem;
}

.select {
    width: 100%;
    margin: 20px 0 0 0;
}

.input {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    background-color: #565656;
    color: white;
    font-size: 16px;
    border: none;
    border-bottom: 0.1px solid #b7b7b7;
    
    &:focus {
        outline: none;
    }

    &::placeholder {
        color: #b7b7b7;
    }
}

.buttons-container {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

.button {
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    outline: 0;
    border: 0; 
    text-transform: uppercase;
    margin: 0 10px;
    cursor: pointer;
    transition: ease background-color 250ms;
}

.create-button {
    background-color: #3f51b5;

    &:hover {
        background-color: #303f9f;
    }
}

.cancel-button {
    background-color: #e91e63;

    &:hover {
        background-color: #d81b60;
    }
}