.sidebar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 30%;
    padding: 20px;
    background-color: #171717;
}

.sidebar-top {
    width: 100%;
    height: 100px;
}

.user-info {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.user-image {
    border-radius: 50%;
    margin: 0 10px 0 0;
}

.user-name {
    font-size: 18px;
    padding: 0 10px;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.kebab-menu-button {
    margin-left: auto;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

.kebab-icon {
    width: 24px;
    height: 24px;
}

.create-new-chat-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    min-height: 50px;
    margin-top: 20px;
    background-color: #333333;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 1.5rem;

    &:hover {
        background-color: #444444;
    }
}